@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
    min-height: 100vh;
    font-family: Plus Jakarta Sans;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 60%, 98%);
}
p{
    margin: 0;
}
/* wrapper */
.wrapper{
    box-sizing: border-box;
    max-width: 560px;
    padding: 20px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
}
.wrapper header{
    display: flex;
    justify-content: space-between;
}
header .notification{
    color: hsl(224, 21%, 14%);
    font-weight: 800;
}
.notification span{
    margin-left: 3px;
    background-color: hsl(219, 85%, 26%);
    color: hsl(0, 0%, 100%);
    padding: 2px 7px;
    border-radius: 3px;
    font-size: 0.7rem;
}
/*  */
.notification.none span{
    display: none;
}
/*  */
header p{
    font-size: 0.8rem;
    color: hsl(219, 14%, 63%);
}
header p:hover{
    cursor: pointer;
    color: hsl(219, 85%, 26%);
}
/* notificationcenter */
.wrapper .notificationcenter{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 13px;
}
.notificationcenter .contents{
    display: flex;
    gap: 10px;
    padding: 10px;
    font-size: 0.8rem;
}
.notify{
    border-radius: 5px;
    background-color: hsla(214, 39%, 93%, 0.486);
}
/*  */
.notificationcenter.bg .notify{
    background-color: transparent;
}
/*  */
.contents img{
    width: 40px;
    height: 40px;
}
.contents .text{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.text p .circle{
    margin-left: 5px;
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: hsl(1, 90%, 64%);
}
/*  */
.dot.disable .circle{
    display: none;
}
/*  */
.text p{
    color: hsl(219, 14%, 63%);
}
.text p .name{
    color: hsl(224, 21%, 14%);
    font-weight: 800;
    margin-right: 2px;
}
.text p .name:hover{
    cursor: pointer;
    color: hsl(219, 85%, 26%);
}
.text p .post{
    color: hsl(219, 12%, 42%);
    font-weight: 800;
    margin-left: 2px;
}
.text p .post:hover{
    cursor: pointer;
    color: hsl(219, 85%, 26%);
}
.text p .group{
    color: hsl(219, 85%, 26%);
    font-weight: 800;
    margin-left: 2px;
}
.text p .group{
    cursor: pointer;
    color: hsl(219, 85%, 26%);
}
.text .message{
    color: hsl(219, 12%, 47%);
    padding: 10px;
    border-radius: 2px;
    border: 1px solid hsla(218, 14%, 63%, 0.267);
}
.text .message:hover{
    cursor: pointer;
    border: 0;
    background-color: hsl(211, 68%, 94%);
}
.pic .comment{
    margin-left: auto;
}
@media all and (max-width:450px) {
    body{
        align-items: start;
    }
}